<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <span class="title pad-left-right">Contacts</span>
    </div>
    <div class="row">
      <div class="input-group pull-left pad-left-right col-xs-7">

        <input type="text"
               id="searchBox"
               class="form-control"
               name="searchBox"
               [(ngModel)]="term"
               (keypress)="onkeypress(searchBox.value)"
               #searchBox="ngModel"
               placeholder="Enter search value"
        >

        <div class="glyphicon glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
      </div>
      <div class="pull-right pad-left-right">
        <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
      </div>
    </div>
  </div>
    <div class="panel-body">
      <app-contact-item
        *ngFor="let contactEl of contacts | contactsFilter:term:'contact'; let i = index"
        [contact]="contactEl"
        [index]="i"
        dnd-draggable [dragEnabled]="true"
        [dragData]="contactEl"
        [dropZones]="['contactGroup']"
        ></app-contact-item>
    </div>
</div>



